@page "/otpbanksk"
@using System.IO
@using ntics.BankConverter
@inject IJSRuntime JSRuntime

<h1>OTP bank SK</h1>
<label for="accountNumber">Розрахунковий рахунок:</label>
<input @bind-value="accountNumber" id="accountNumber" title="Обов'язково." placeholder="Банківський рахунок" onfocus="accountFocus" />
@if (accountError)
{
    <div class="alert-info">Номер вашого рахунку є обовязковим тому-що він відсутній в банківській виписці !!!</div>
}
<br />
<label >Виберіть файли :</label>
<InputFile id="uploadFiles" multiple OnChange="HandleSelection"  @onclick="inputClick"/>
@if (resultFiles != null)
{
    <div style="display:grid;grid-template-columns:auto auto">
        @foreach (var file in resultFiles)
        {
            string color = file.IsLoading ? "gray" : "white";
            <div>
                @file.FileName
            </div>
            <div style="background-color: @color">
                <a class="button_link" href="@file.FileUrl" download="@file.FileName" @onclick="@(e=>DownloadClick(file))">Завантажити </a>
            </div>
        }
    </div>
}


@code
{
    bool accountError = false;
    string inputFileStyle = "pointer-events:none";

    string accountNumber = "";

    List<ResultConvert> resultFiles = new List<ResultConvert>();

    void accountFocus()
    {
        accountError = false;
    }

    void inputClick()
    {
        if (accountNumber.Length < 24)
        {
            accountError = true;
            inputFileStyle = "pointer-events:none";

        }
        else
        {
            accountError = false;
            inputFileStyle = "";

        }
    }

    void DownloadClick(ResultConvert r)
    {
        r.IsLoading = true;
    }


    async Task HandleSelection(IFileListEntry[] files)
    {
        if (accountNumber.Length < 24)
        {
            accountError = true;
            return;
        }

        resultFiles.Clear();
        foreach (var f in files)
        {
            var result = new ResultConvert();

            try
            {
                var conv = BankStreamConverter.CreateStreamConverter(EBankType.OtpBankSK, new DefaultLocalizer());

                string r = await conv.ConvertTo1CFormat(f.Data, accountNumber);
                result.FileName = "kb_to_1c" + f.Name + ".xml";
                result.FileUrl = await JSRuntime.InvokeAsync<string>("getFileUrl", r);

            }
            catch (Exception e)
            {
                result.Error = e.Message;
            }
            resultFiles.Add(result);

        }
    }

}